<div class="container">
  <div class="row details">
    <div class="col-md-4">
      <h2 class="product-description">Delivery details</h2>

      <%= form_for :user do |f| %>
        <div class="form-group">
          <%= f.label :name %><br />
          <%= f.text_field :email, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :address %><br />
          <%= f.text_field :address, class: 'form-control' %>
        </div>

        <div class="actions">
          <%= link_to 'Edit basket', order_path, class: 'btn btn-default' %>
          <%= f.submit 'Place order', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
