<div class="container">
  <div class="row details">
    <% content_for :title, 'Address' %>
    <% navigation_add 'Basket', order_path %>
    <div class="col-md-4">
      <h2 class="product-description">Delivery details</h2>

      <%= form_for @user, url: update_user_details_order_path, method: :put do |f| %>
        <% if @user.errors.count.positive? %>
          <div id="error_explanation">
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group">
          <%= f.label :name %><br />
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :address %><br />
          <%= f.text_field :address, class: 'form-control' %>
        </div>

        <div class="actions">
          <%= link_to 'Edit basket', order_path, class: 'btn btn-default' %>
          <%= f.submit 'Place order', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
