<div class="container">
  <div class="row details">
    <% if @order_items.empty? %>
      <div class="empty-basket-text">
        <h3>Your basket is empty</h3>
        <%= link_to 'Start shopping', root_path, class: 'btn btn-primary btn-lg' %>
      </div>

      <div class="empty-basket">
        <i class="fa fa-shopping-cart fa-5x"></i>
      </div>
    <% else %>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th>Unit price</th>
          <th>Subtotal</th>
        </tr>
        </thead>
        <tbody>
          <% @order_items.each do |order_item| %>
            <tr>
              <td>
                <div class="col-md-6 col-lg-4">
                  <%= image_tag order_item.image.url, class: 'resize-for-show' %>
                  <div class="order-item-name"><%= order_item.name %></div>
                  <div class="order-item-seller"><%= order_item.admin_user.email %></div>
                </div>
              </td>

              <td>
                <div class="order-item-quantity"><%= order_item.quantity %></div>
              </td>

              <td>
                <div class="order-item-price"><%= number_to_currency(order_item.price, unit: '£') %></div>
              </td>

              <td>
                money
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div>TOTAL <span>total</span></div>
      <%= link_to 'Next', '#', class: 'btn btn-primary btn-lg' %>
  <% end %>
  </div>
</div>
