<div class="container">
  <div class="row details">
    <% if @order_items.empty? %>
      <div class="empty-basket-text">
        <h3>Your basket is empty</h3>
        <%= link_to 'Start shopping', root_path, class: 'btn btn-primary btn-lg' %>
      </div>

      <div class="empty-basket">
        <i class="fa fa-shopping-cart fa-5x"></i>
      </div>
    <% else %>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th>Unit price</th>
          <th>Subtotal</th>
        </tr>
        </thead>
        <tbody>
          <% @order_items.each do |order_item| %>
            <tr id="order-item-<%= order_item.id %>">
              <td class="cell-<%= order_item.id %> first-cell">
                <%= link_to category_product_path(order_item.category, order_item.product), class: 'row' do %>
                  <div class="order-image col-md-4">
                    <%= image_tag order_item.image.url, class: 'resize-for-basket' %>
                  </div>
                  <div class="seller-details col-md-6">
                    <div class="order-item-seller">Seller: <%= order_item.admin_user.email %></div>
                    <div class="order-item-name"><%= order_item.name %></div>
                  </div>
                  <div class="col-md-4 remove-item">
                    <%= link_to 'Remove', order_item_path(order_item.id), class: 'btn btn-primary',
                        data: { remote: true, method: :delete, confirm: 'Are you sure?' } %>
                  </div>
                <% end %>
              </td>

              <td>
                <div class="order-item-quantity">
                  <%= select_tag :quantity, options_for_select((1..10), selected: order_item.quantity),
                      data: {
                        remote: true,
                        url: order_item_path(order_item.id),
                        method: :put
                      }
                    %>
                </div>
              </td>

              <td>
                <div class="order-item-price"><%= number_to_currency(order_item.price, unit: '£') %></div>
              </td>

              <td class="order-item-subtotal subtotal-<%= order_item.id %>">
                <%= number_to_currency(order_item.sub_total, unit: '£') %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="order-summary">
        <div class="order-total-text">
          TOTAL: <span class="order-total"><%= number_to_currency(@order.total, unit: '£') %></span>
        </div>

        <div class="order-actions">
          <%= link_to 'Continue shopping', root_path, class: 'btn btn-default btn-lg' %>
          <%= link_to 'Next', address_order_path, class: 'btn btn-primary btn-lg' %>
        </div>
      </div>
  <% end %>
  </div>
</div>
